body {
  -webkit-print-color-adjust: exact !important;
}

a {
  color: #2d9cdb;
}

ul {
  margin: 0px;
  list-style: none;
}

.education .dates,
.work .dates {
  font-size: 11px;
  font-style: italic;
  text-align: right;
}

.tag-list {
  /*  align-items: flex-start;
  display: flex;
  width: 480px;
  flex-wrap: wrap;*/
  margin-top: -2px;
  margin-bottom: 4px;
}

.tag-list li {
  display: inline-block;
  background-color:#efefef;
  color: #6d6d6d;
  padding: 0px 8px;
  border-radius: 25px;
  font-size: 10px;
  margin: 0px 2px;
}

section {
  margin-bottom: 24px;
  width: 100%;
  position: relative;
}

.section-title {
  font-size: 18px;
  border-bottom: 2px solid #5f5f5f;
  display: flex;
  justify-items: center;
  align-items: center;
}

.section-title img {
  width: 25px;
  margin-right: 8px;
}

section h4:first-of-type {
  margin-top: 8px;
}
section h4 {
  margin-top: 16px;
  margin-bottom: 0px;
}

.body-wrapper {
  display: flex;
  font-family: avenir-book, AvenirNext-Regular, AppleSDGothicNeo-Medium,
    Helvetica, Arial, Sans-serif;
}

.left-section {
  width: 260px;
  padding: 0px 28px;
}

.right-section {
  padding: 0px 28px;
  margin-top: 8px;
  /*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;*/
}

.intro {
  height: 232px;
}


.intro .circle {
  width: 490px;
  height: 460px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: -272px;
  top: -216px;
  background-color: #ececec;
  transform: rotate(30deg);
}

.intro h1 {
  font-size: 32px;
  margin-bottom: 8px;
  margin-top: 0px;
}

.intro h2 {
    font-size: 18px;
    white-space: nowrap;
}

.intro p{
    white-space: nowrap;
}

.intro .contact p {
  margin: 0px;
}

.skills h4 {
  border-bottom: 1px dashed #cfcfcf;
  color: #7d7d7d;
  margin-bottom: 4px;
}

.skills ul {
  padding: 0px;
  font-size: 14px;
}

.skills ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills ul li .star-filled {
  width: 10px;
  margin: 0px 2px;
  opacity: 0.6;
}

.skills ul li .stars {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.education h4 {
  margin-bottom: 0px;
}

.education h4 small {
  display: inline-block;
  font-weight: 100;
  font-size: 12px;
  line-height: 12px;
  color: #7d7d7d;
}

.education p {
  margin: 0px;
  font-size: 14px;
}

.education p i {
  text-decoration: underline;
  font-size: 16px;
}

.project h4 {
  font-weight: 400;
}

.project ul li p {
  margin: 0px;
  font-size: 13px;
}

.project ul li p strong {
  font-size: 16px;
}

.project a {
  font-size: 14px;
}

.work-wrapper {
  position: relative;
}

.work h4 {
  margin-bottom: 0px;
}

.work .company {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
}

.work ul {
  margin: 0px;
  list-style: disc;
}
.work p {
  margin: 0px;
}
.work .dates {
  width: 100%;
  position: absolute;
  text-align: right;
  top: 4px;
}
.work .work-detail {
  font-size: 13px;
}
.work .work-tech {
  font-size: 14px;
  font-style: italic;
}

@page {
  size: auto;
  margin: 0;
}
